* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgb(212, 212, 212);
}

#layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

#header {
    display: flex;
    flex: 0.1;
    background-color: rgb(31, 31, 31);
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: rgb(247, 224, 191);
    box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.2);
}

#content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    overflow: auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(150px, 1fr));;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));;
    grid-auto-rows: minmax(300px, 1fr);
    gap: 1em;
    padding: 1em;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#footer {
    display: flex;
    flex: 0.1;
    background-color: rgba(255, 255, 255, 0);
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem;
}

#addButton {
    position: fixed;
    display: flex;
    border: none;
    height: 5rem;
    width: 5rem;
    background-color: rgba(114, 114, 114, 0.479);
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 64px;
    color: white;
    font-weight: 600;
    padding-bottom: 0.8rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#confirmButton {
    width: 50%;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formPanel {
    display: flex;
    background-color: rgba(114, 114, 114, 0.479);
    flex: 1;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding-left: 5rem;
    padding-right: 5rem;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    z-index: -1; 
}

#formPanel[open] {
    opacity: 1;
    transform: scale(1);
    z-index: 0;
}

#formPanel::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 80%;
}

h3 {
    margin-bottom: 2rem;
}

.title-row, .author-row, .pages-row, .thumbnail-row {
    display: flex;
    flex: 1;
    gap: .5rem;
    flex-direction: column;
    font-weight: 600;
}

.read-row {
    display: inline-flex;
    font-weight: 600;
}

#book_read {
    width: 20%;
}

input {
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem;
    border: 0;
    background-color: rgba(56, 56, 56, 0.548);
    color: white;
}